nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 1.2rem 2.2rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  a {
    font-size: 1.2rem;
    background: transparent;
    padding: 0.3rem;
    border-radius: 50%;
    display: flex;
    color: rgba(255, 255, 255, 0.6);

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
nav a.active {
  background: #4db5ff;
  color: #1f1f38;
  transform: scale(1.2);
}
