


$color-bg:#1f1f38;
$color-bg-variant:#2c2c6c;
$color-primary:#4db5ff;
$color-primary-variant:rgba(77,181,255,0.4);
$color-white:#fff;
$color-light:rgba(255,255,255,0.6); 


// - CONTAINER WIDTH
$container-width-lg:75%;
$container-width-md:86%;
$container-width-sm:90%;

//-TRANSITION
$transition:all 400ms ease;

.experience__container{

    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

.experience__container >div{
    background: $color-bg-variant;
    padding:2.4rem 5rem;
    border-radius: 2rem;
    border:1px solid transparent;
    transition: $transition;

    &:hover{
background-color: transparent;
border-color: $color-primary-variant;
cursor: default;
    }
}

.experience__container>div h3{
    text-align: center;
    margin-bottom: 2rem;
    color:$color-primary
}

.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 2rem;
}


/*  ===========================  MEDIA QUERIES FOR TABLETS (1024px) ====================== */

@media screen and(max-width:1024px) {
    .experience__container{
       grid-template-columns: 1fr;
    }
    .experience__container>div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content{
        padding: 1rem;
    }
}


/*  ===========================  MEDIA QUERIES FOR MOBILES (600px) ====================== */

@media screen and(max-width:600px) {
    .experience__container{
        gap: 1rem;
    }
    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
}